.NavbarItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    padding: 0 30px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 5px 15px rgba(100, 71, 71, 0.35);
    width: 95%;
    height: 50px;
    border-radius: 13px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1999;
    font-family: sans-serif;
}

.logo {
    color: black;
    justify-self: start;
    cursor: pointer;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    align-items: center;
    text-align: center;
    justify-content: end;
}

.nav-link {
    text-decoration: none;
    color: black;
    padding: 0.7rem 1rem;
}

.nav-link:hover {
    background: rgb(255, 119, 119);
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

.fa-bars,
.fa-times {
    color: black;
}

.menu-icons {
    display: none;
}

@media screen and (max-width: 850px) {
    .NavbarItems {
        z-index: 99;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 17);
        border-radius: 13px;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: -110%;
        align-items: stretch;
        padding: 80px 0 30px 0;
        margin: 0;
        z-index: -1;
    }

    .nav-menu.active {
        left: 0%;
    }

    .menu-icons {
        display: block;
    }

    .nav-link {
        display: block;
        color: #222;
        width: 100%;
        padding: 2rem 0;
    }

    .nav-link:hover {
        background: rgba(255, 255, 255, 0.25);
        backdrop-filter: blur(20px);
    }
}